/* this file will be extracted to main dist folder and is imported in index.html */
/* This file is for setting global styles  */
@import 'variables';

// body {
// 	background: #
// }

.navbar-nav {
	flex-direction: row;
}

.nav-link.active {
	background: transparent !important;
	font-weight: 600
}

body {
	background-color: #252830;
	font-family: 'Ubuntu', sans-serif;
}

h1 {
	color: white !important;
}

.app-body {
	margin-top: 80px;
}

.nav-styles {
	background-color: #1a1b22;
}

.nav-styles a {
	color: white;
}

.nav-styles a:hover {
	color: #c9c9c9;
}

.nav-link.active {
	color: #e64758 !important;
}

.dropdown-links a {
	color: #1a1b22;
}

.dropdown-links a:hover {
	color: #252830;
}
